# CONFIG

# Satellite 6 server and admin credentials
export SATELLITE_SERVER=$(facter fqdn)
export SATELLITE_USER="admin"
export SATELLITE_PASSWORD="changeme"

# org name, label, and description
export ORG="Summit 2015"
export ORG_LABEL="Summit2015"
export ORG_DESCRIPTION="An org for Summit 2015"

export LOCATIONS=East,Central,West

# path to subscription manifest
export subscription_manifest_loc="./manifest.zip"

# per default we're using RHEL7 only for all hosts. optional you can enable RHEL6
# NOTE: this requires a lot of additional disk space for Red Hat and 3rd repos we will sync during soe-prep.sh
# beside the RHEL6 channels this additional enables VMware Tools (only req by RHEL6), Bareos and EPEL for RHEL6
export RHEL6_ENABLED=0 


# additional RH repos 2 sync
# we've already defined a comprehensive set of RH repos we're syncing per default as defined inside the function
# please define here only additional RH repositories you want to sync
export additional_rh_repos_to_sync=""


# enable if you want to use OpenShift Enterprise 3 as an additional example application (not covered inside this refarch
# but covered in cgoern's refarch TODO (see chapter XYZ)
export OSE3_ENABLED=0

# enable if we want to use puppetforge repository and need to sync it
# Please note that currently you can not sync a particular subset, only the entire repo
# for further information have a look here: https://access.redhat.com/solutions/1377233
# we recommend to let this option disabled until you really want to sync the entire forge repo
export PUPPETFORGE_ENABLED=0

# the hostname of git server which holds custom puppet modules
export GIT_HOST="acme-git.summit-lab.redhat.com"

# the URL to toplevel git repository which contains custom puppet modules
# TODO: we can also ask to provide just the url behind the hostname we've asked above
# TODO: check if we still need it since we do it now directly on Satellite itself
export CUSTOM_PUPPET_REPO="http://acme-git.summit-lab.redhat.com/git/puppet-modules"

# the hostname of the custom yum repo server (usually the buildhost)
export BUILD_HOST="acme-buildhost.summit-lab.redhat.com"

# the URL of custom yum repo
CUSTOM_YUM_REPO="http://buildhost.summit-lab.redhat.com/repo"

# set to 1 to see the hammer commands as they are executed
export ECHO_COMMANDS=1

